@import url("common.css");

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #FFB0B0;
  height: 55px;
}

nav ul {
  list-style: none;
  display: flex;
  width: 30%;
}

nav a {
  text-decoration: none;
  color: black;
}

nav .nav-title {
  font-family: 'HakgyoansimNadeuriTTF-B';
  width: 15%;
  text-align: center;
}

h1{
  font-family: inherit;
  font-size: 30px;
}

nav .nav-right {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

nav .nav-menu {
  justify-content: space-between;
}

nav .nav-user {
  display: flex;
  justify-content: space-around;
}

nav .nav-user li {
  float: right;
  text-align: end;
}

nav .nav-user a {
  font-size: 13px;
}

nav .nav-menu a:hover {
  text-decoration: underline;
}