/* 전체 컨테이너 */

#register-page{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  max-width: 1400px;
  width: 100%;
}


.register-box{
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  width: 400px;
}

#register-page h1{
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  font-family: 'GmarketSansMedium';
}

.register-tabs{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.register-tabs .tab-button{
  flex: 1;
  padding: 15px;
  border: none;
  background: #eaeaea;
  color: #333;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.register-tabs .tab-button.active{
  background: #1B263B;
  color: white;
}

.register-tabs .tab-button:hover{
  background: #1B263B;
  color: #fff;
}


.register-form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
.register-form label{
  text-align: left;
}
.register-form input{
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}
.register-form input:focus{
  border-color: #1B263B; /* 테두리 색상 */
  box-shadow: 0 0 5px rgba(27, 38, 59, 0.5); /* 외곽선 효과 */
  outline: none; /* 기본 브라우저 outline 제거 */
}

.register-form button{
  background: #1B263B;
  color: white;
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
  width: 100%;
  margin-top: 50px;
}

.register-form button:hover{
  background: #416066;
}
