@import url('common.css');


.Travel-Ads-Box{
  
  width: 280px;
  padding: 10px;
 
  
}


.Travel-Ads-Box div:nth-of-type(1){
  width: 100%;
  border-radius: 15px;
  height: 170px;
  overflow: hidden;
 
}
.Travel-Ads-Box div img{
  width: 100%;
  object-fit: cover;
}


.Travel-Ads-Box p{
  font-family: 'Pretendard-Regular';
}

.Travel-Ads-Box p:nth-of-type(1){
  margin-top: 15px;
  color: #707070;
  font-size: 11px;
}
.Travel-Ads-Box p:nth-of-type(2){
  color: #333;
  font-size: 1.1em;
}
.Travel-Ads-Box p:nth-of-type(3){
  margin-top: 10px;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Travel-Ads-Box p:nth-of-type(4) {
  display: -webkit-box;                /* 플렉스박스 모델을 사용 */
  -webkit-box-orient: vertical;        /* 세로로 정렬 */
  -webkit-line-clamp: 4;               /* 최대 4줄로 텍스트 제한 */
  text-overflow: ellipsis;             /* 넘친 텍스트에 ... 표시 */
  overflow: hidden;                    /* 넘친 내용 숨김 */
  height: 100px;                       /* 박스 높이 설정 */
  line-height: 1.5;                    /* 줄 간격 설정 */
  line-clamp: 4;
}

.Travel-Ads-Box div:nth-of-type(2){
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.Travel-Ads-Box div:nth-of-type(2) span{}
.Travel-Ads-Box div:nth-of-type(2) span:nth-of-type(1) i{
  color: #74C0FC;
}
.Travel-Ads-Box div:nth-of-type(2) span:nth-of-type(1){
  color: #74C0FC;
}