/* 전체 섹션 */
.travel-board {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

/* 카테고리 탭 */
.category-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.category-tabs button {
  flex: 1;
  padding: 15px 0;
  font-size: 18px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'GmarketSansMedium';
}

.category-tabs button.active {
  background-color: #FFD09B;
  color: white;
}

.category-tabs button:not(.active):hover {
  background-color: #ddd;
}

/* 게시판 타이틀 */
.board-title {
  margin-bottom: 15px;
}

.board-title h2 {
  font-size: 24px;
  text-align: left;
  margin-bottom: 5px;
}

.board-title hr {
  border: none;
  height: 1px;
  background-color: #ccc;
}

