*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: black;
}

nav .nav-right {
  display: inline-block;
}