*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  background-color: #009c75;
}

nav ul {
  list-style: none;
  display: flex;
  width: 30%;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
}

nav .nav-loggo {
  display: flex;
  justify-content: space-between;
  color: white;
}

nav .nav-right {
  display: flex;
  justify-content: end;
  width: 30%;
}

nav .nav- {
  
}
